span.unfold:hover, span.memo:hover, span.call:hover, span.rescall:hover, span.unsafe:hover, span.hide_nf:hover, span.ucall:hover, span.if:hover, span.logif:hover, span.semicall:hover, span.mcall:hover, span.resif:hover, span.semif:hover, span.reslogif:hover, span.unknown:hover, span.findall:hover, span.resfindall:hover, span.resnot:hover, span.not:hover, span.disj:hover, span.resdisj:hover, span.mnf:hover, span.pp_cll:hover, span.pp_mnf:hover, span.when:hover, span.semiwhen:hover, span.reswhen:hover, span.online:hover, span.time_out:hover, span.static:hover, span.dynamic:hover, span.nonvar:hover, span.static_nf:hover, span.predicate:hover, span.directive:hover, span.complex:hover, span.unknown_if:hover, span.unknown_disj:hover, span.unknown_when:hover, span.unknown_not:hover, span.unknown_findall:hover, span.fix_hide_nf:hover {
	background-color: yellow;
}

span.unfold, span.memo, span.call, span.rescall, span.unsafe, span.hide_nf, span.ucall, span.if, span.logif, span.semicall, span.mcall, span.resif, span.semif, span.reslogif, span.unknown, span.findall, span.resfindall, span.resnot, span.not, span.disj, span.resdisj, span.mnf, span.pp_cll, span.pp_mnf, span.when, span.semiwhen, span.reswhen, span.online, span.time_out, span.static, span.dynamic, span.nonvar, span.static_nf, span.predicate, span.directive, span.complex, span.unknown_if, span.unknown_disj, span.unknown_when, span.unknown_not, span.unknown_findall, span.fix_hide_nf:hover {
	cursor: default;
}

span.badfilter {color: #006400}
span.unfold {color: #006400}
span.memo {color: #8b0000}
span.predicate {color: blue}
span.head {color: blue}
span.comment {color: #ff69b4}
span.dynamic {color: #8b0000}
span.complex {color: #999900}
span.static {color: #006400}
span.static_nf {color: #006410}
span.nonvar {color: #00008c}
span.list {color: #800080}
span.string {color: #999900}
span.call {color: #006400; text-decoration: underline}
span.rescall {color: #8b0000; text-decoration: underline}
span.badfilter {background-color: #ff0000; color: white}
span.unsafe {background-color: #ff0000; color: white}
span.unsafe:hover {color: black}
span.fix_hide_nf {background-color: #ff0000; color: white}
span.fix_hide_nf:hover {color: black}
span.unknown:hover {color: black}
span.hide_nf {background-color: yellow}
span.filter {color: #00008b}
span.ucall {color: #006400}
span.if {color: #006400}
span.logif {color: #006400}
span.semicall {color: #00008b}
span.mcall {color: #8b0000}
span.resif {color: #8b0000}
span.semif {color: #00008b}
span.reslogif {color: #8b0000}
span.unknown {color: white; background-color: black}
span.unknown_if {color: white; background-color: black}
span.unknown_disj {color: white; background-color: black}
span.unknown_not {color: white; background-color: black}
span.unknown_when {color: white; background-color: black}
span.unknown_findall {color: white; background-color: black}
span.findall {color: #006400}
span.resfindall {color: #8b0000}
span.not {color: #006400}
span.resnot {color: #8b0000}
span.disj {color: #006400}
span.resdisj {color: #8b0000}
span.mnf {color: #00008b}
span.pp_cll {color: #00008b}
span.pp_mnf {color: #00008b}
span.when {color: #006400}
span.semiwhen {color: #00008b}
span.reswhen {color: #8b0000}
span.online {color: #00008b}
span.time_out {color: #8b0000}

